/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 50px;
    background-color: #333333;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 50px;
    line-height: 50px;
    background-color: #808080;
    color: white;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

.footer-container-left {
    float: left;
}

.footer-container-right {
    float: right;
}

.footer-container-middle {
    margin: 0 auto;
}

.footer-icon {
    line-height: 48px;
    display: inline-block;
    vertical-align: middle;
}
.refresh-icon {
}

.footer-label {
    line-height: 47px;
    display: inline-block;
    vertical-align: middle;
}

.burger-loader {
    background: url("images/burger-loader.gif");
    width: 100px;
    height: 100px;
    margin: auto;
}

.av-block-ui {
    position: inherit !important;
}

.av-loading-bullet {
    font-size: 10em !important;
    color: #0065b3;
}

.av-block-ui-overlay {
    background-color: black;
    opacity: 0.8;
}

.chat-icon {
    display: inline-block;
    vertical-align: middle;
    line-height: 48px;
    margin-right: 10px;
}

.badge-notify {
    background:red;
    position:relative;
    top: -15px;
    left: -40px;
}

.panel-heading.row {
  margin: 0;
  padding-left: 0;
  padding-right: 0;
}

.order-item.list-group-item {
  padding: 0;
}

.order-row {
    margin-bottom: 0px;
}

.order-time {
    line-height: 20px;
    margin: 0 5px;
}

.glyphicon-large {
    font-size: 18px;
    line-height: 1.33;
    width: 70px;
    height: 30px;
    display: inline-block;
}

.order-panel {
    position: relative;
    border: 1px solid black;
    font-size: 14px;
    font-weight: bold;
}

.order-header {
    background-color: black;
    color: white;
    font-weight: bold;
    white-space: nowrap;
}

.client-name {
    background-color: #333333;
    color: white;
}

.order-success {
    background-color: #99FF66;
    color: black;
}

.order-warning {
    background-color: yellow;
}

.order-danger {
    background-color: red;
}

.order-not-set {
    background-color: #e06c1a;
    color: black;
}

.order-expensive {
    background-color: #94f;
    color: black;
}

.order-header.row {
    margin: 0;
}

.order-footer {
    height: 20px;
    line-height: 20px;
    margin: 0;
    padding: 0;
    background-color: white;
}

.order-actions {
    position: absolute;
    bottom: 0px;
    width: 100%;
    background-color: white;
    z-index: 99;
    height: 40px;
}

.order-action-button {
    width: 33.3%;
    text-align: center;
    line-height: 40px;
    height: 40px;
    font-size: 18px;
}

.order-item {
    list-style-type: none;
}

.striked {
    text-decoration: line-through;
}

.chat-container {
    position: absolute;
    top: 10px;
    left: 15px;
    bottom: 0;
    right: 15px;
}

.messages-container {
    margin-bottom: 10px;
}

.chat-messages-container {
    height: 100%;
    box-sizing: border-box;
}

.chat-messages {
    height: 100%;
    box-sizing: border-box;
}

.store-status-panel {
    margin-top: 100px;
}

.retransmit-not-set {
    background-color: #FFF;
    color: black;
}

.address-label {
    max-width: 53px;
    overflow-x: hidden;
    border-right: 5px solid transparent;
    vertical-align: top;
}

.address-info {
    background-color: #f5deb3;
    position: absolute;
    bottom: 40px;
    width: 100%;
    z-index: 99;
}

.address-data {
    text-transform: uppercase;
}

.address-button {
    background-color: #999900;
    font-size: 11pt;
}