*.pyc
*.log
.flake/
.idea/
*debug.txt
*.lnk
*printer*.txt
/datas/server/fiscalsentdir
apache
mwsdk
/scripts/install/edeployPOS
/scripts/install/edeployPOS_downloaded
/scripts/install/edeployPOS_backup
