*.pyc
*.log
.flake/
.idea/
*debug.txt
*.lnk
*printer*.txt
/datas/server/fiscal_xml
apache
mwsdk
/scripts/install/edeployPOS*
mwsdk-*
httpd-*
/scripts/edeployPOS
updater*
/datas/server/sent_fiscal_xmls
/scripts/set_paths.bat
genesis
/datas/server/bundles/sat/dll
/datas/server/bundles/sat/.sat.pypkg.ctl
/datas/server/bundles/sitef/lib/clisitef32.dll
/datas/server/bundles/sitef/lib/clisitef32i.dll
/datas/server/bundles/sitef/lib/libemv.dll
/datas/server/bundles/sitef/lib/libseppemv.dll
/venv
/scripts/install/lib
/scripts/install/installEdeployPOS.spec
/scripts/install/build
/scripts/install/dist
/scripts/install/installEdeployPOS
/scripts/install/installEdeployPOS.zip
