[submodule "components"]
	path = components
	url = https://bitbucket.org/edeployteam/edeploy-pos-components.git
[submodule "mwsdk"]
	path = mwsdk
	url = https://git.mwneo.com/mw/mwsdk.git
[submodule "src"]
	path = src
	url = https://bitbucket.org/edeployteam/edeploy-pos-src.git
