*.pyc
*.log
.flake/
.idea/
*debug.txt
*.lnk
*printer*.txt
/datas/server/fiscalsentdir
apache
mwsdk
/scripts/install/edeployPOS
/scripts/install/edeployPOS_downloaded
/scripts/install/edeployPOS_backup
fiscal_xml
mwsdk-2.0.94-py2.7.egg-info
httpd-2.4.41-win64-VS16.zip
