data.*/server/cache/*
data.*/server/cashless/*
data.*/server/databases/*.bkp
data.*/server/htdocs/dashboard/*
data.*/server/htdocs/kds/*
data.*/server/htdocs/pos/*
!data.*/server/htdocs/kds/customization*.*
data.*/server/databases/*
!data.*/server/databases/discountcalc.db
!data.*/server/databases/product.db
!data.*/server/databases/taxcalc.db
!data.*/server/databases/ntaxcalc.db
!data.*/server/databases/fiscal_params.db
!data.*/server/databases/users.db
data.*/server/logs/*
data.*/server/**/*.log
data.*/server/**/*.pypkg.ctl
data.*/server/**/*.conf
data.*/server/updates
data.*/server/backups
data.*/server/common
data.*/server/bundles/**/python/lib/*
data.*/server/bundles/satcomp/python/*
