* > :not(pre) {
  font-family: Verdana, Arial, sans-serif;
}

* {
  text-rendering: optimizeLegibility;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container {
  width: 100%;
  height: 100%;
}

.numpad-table td {
  padding: 2px;
}

.modtab {
  border-radius: 0 5px 5px 0;
}

.modtab-inactive {
  color: #212121;
  background-color: #E0E0E0;
}

.modtab-active {
  color: #ec1c24;
  background-color: #ffffff;
}

.function-btn {
  font-size: 1.6vh;
  text-transform: uppercase;
}

.sale-type-selector-eat-in-selected {
  background-color: #bfeffa !important;
  color: black !important;
}

.sale-type-selector-take-out-selected {
  background-color: #e7c9aa !important;
  color: black !important;
}

.scroll-panel-items {
  padding-right: 0;
}

.sale-panel-root {
  border: 1px solid #cccccc;
}

.sale-panel-item-level2.selected {
  background-color: #1752ff;
  color: white;
}

.sale-panel-item-level3.selected {
  background-color: #1752ff;
  color: white;
}

.sale-panel-item-level4.selected {
  background-color: #1752ff;
  color: white;
}

.sale-panel-item-level5.selected {
  background-color: #1752ff;
  color: white;
}

.navigation-grid-button {
  border-radius: 5px;
  font-size: 1.4vh;
}

.keyboard-dialog-info-cont {
      font-size: 2vh !important;
}

.keyboard-input-backspace-root {
   width: 4vw !important;
   top: auto !important;
   bottom: auto !important;
}

.dialog-body {
  font-size: 1.5vh !important;
}

.dialog-body-cont {
  display: flex;
  align-items: center;
  justify-content: center;
}

.message-dialog-root td span {
  display: flex;
  text-align: center;
  margin: 2vw;
}