* > :not(pre) {
  font-family: Verdana, Arial, sans-serif;
}

html, body {
  height: 100%;
  overflow-x:hidden;
}

body {
  background-color: #E0F7FA;
  border:0;
  margin:0;
  text-align: center;
  position: relative;
}

#root, .app, .mainApp, .mainAppItems, .row, .optionsMenu  {
  height: 100%;
  overflow: hidden;
}

.app {
  padding-bottom: 80px;
}

.container {
  width: 100%;
  height: 100%;
}

.footer-left-panel {
  background-color: #E8EAF6;
}

.footer-right-panel {
  background-color: #E8EAF6;
}

.numpad-table td {
  padding: 2px;
}

/*content*/
.content{
  width: 100%;
  float:left;
  text-align: center;
  position: relative;
  padding: 2%;
}

.mainAppItems {
  background: #333333;
}

.itemsMenu {
  background: #FFFFFF;
  height: 100%;
  overflow: auto;
}

/*navbar*/
ul {
  width:30%;
  height:1000px;
  max-height:1000px;
  border:0;
  margin:0;
  text-decoration: none;
  float:left;
  list-style: none;
  background-color: #ccc;
  position: relative;
  padding: 0;
}

li {
  text-align: center;
  text-decoration: none;
}

li:last-child {
  border-bottom: none;
}

li a{
  text-decoration:none;
}

.container {
  position: absolute;
  max-width: none !important;
  padding-right: 0 !important;
  padding-left: 0 !important;
}

/*titleBar*/
.row.titleBar{
  height: 80px;
  border-bottom: 1px solid #D1D1D1;
  -webkit-box-shadow: 0px 5px 5px 0px #ADADAD;
  -moz-box-shadow: 0px 5px 5px 0px #ADADAD;
  box-shadow: 0px 5px 5px 0px #ADADAD;
  background-color: #FFFFFF;
  z-index: 2;
  position: relative;
}

.titleBar .logoBox {
  padding-left: 5%;
}

.titleBar .userInfoBox {
  padding-right: 5%;
}

.titleBar .logoBox {
  width: 189px;
  height: 64px;
  background: url("../images/sprite.png") -5px -0px no-repeat;
  margin-top: 5px;
  transform: scale(0.8);
 }

.titleBar .logedUserInfo {
  border-left: 7px solid #EC1C24;
  margin-top: 10px;
  height: 60px;
  padding-left: 7px;
  padding-top: 4px;
  max-width: 100%;
  float: right;
}

.titleBar .logedUserInfo p {
  font-size: 0.8em;
  line-height: 10px;
  text-align: left;
}

.titleBar .logedUserInfo p.nameUser {
  font-size: 1em;
  font-weight: bold;
  white-space: nowrap;
}

.titleBar .logedUserInfo p.logoutLine {
  font-weight: bold;
  cursor: pointer;
}

.titleBar .logedUserInfo span {
  float: left;
}

.titleBar .logedUserInfo span.logoutButton {
  background: url("../images/sprite.png") -9px -76px no-repeat;
  width: 25px;
  height: 21px;
  margin-top: -7px;
  margin-left: 5px;
}

/*optionsMenu*/
.optionsMenu {
  margin-top: -10px;
}

.optionsMenu ul {
  width: 100%;
  background: #333333;
  margin: 0!important;
  height: 100%;
  z-index: 0!important;
}

.optionsMenu ul li {
  padding: 5%;
  text-align: left;
  border-left: 10px solid #333333;
  margin-top: 5%;
}

.optionsMenu ul li:first-child {
  margin-top: 10%;
}

@media(max-width:767px){
  .optionsMenu ul li {
    margin-top: 50%;
  }
}

.optionsMenu ul li.active {
  border-left: 10px solid #EC1C24;
}

.optionsMenu ul li span.optionsMenuItem {
  float: left;
  margin-right: 20px;
  width: 45px;
  height: 36px;
  margin-top: -6px;
}

.optionsMenu ul li a {
  color: #A6A6A6;
  font-size: 1.2em;
  text-decoration: none;
}

.optionsMenu ul li.active a {
  color: #FFFFFF;
}

.optionsMenu ul li span.combosImage {
  background: url("../images/combo.png") no-repeat;
}

.optionsMenu ul li.active span.combosImage {
  background: url("../images/combo_active.png") no-repeat;
}

.optionsMenu ul li span.modificadoresImage {
  background: url("../images/modifiers.png") no-repeat;
}

.optionsMenu ul li.active span.modificadoresImage {
  background: url("../images/modifiers_active.png") no-repeat;
}

.optionsMenu ul li span.publicarImage {
  background: url("../images/publish.png") no-repeat;
}

.optionsMenu ul li.active span.publicarImage {
  background: url("../images/publish_active.png") no-repeat;
}

.optionsMenu ul li span.exportImage {
  background: url("../images/export.png") no-repeat;
}

.optionsMenu ul li.active span.exportImage {
  background: url("../images/export_active.png") no-repeat;
}

.pageTitle {
  text-align: left;
  margin-bottom: 5%;
  float: left;
  width: 100%;
}