/.idea
/virtenv
**.pyc
/lib/psycopg2/__pycache__
/lib
/dist
/dev_lib
/test/testenv/htmlcov
/test/testenv/reports
/test/testenv/.coverage
node_modules
.serverless
/*.log
python
/*.1
/*.2
/*.3
/*.4
/*.5
venv/*