/.idea
/venv
**.pyc
/lib/psycopg2/__pycache__
/lib
/virtenv27
/dist
/dev_lib
/test/testenv/htmlcov
/test/testenv/reports
/test/testenv/.coverage
/python_path.bat
node_modules
.serverless
/*.log
python
/*.1
/*.2
/*.3
/*.4
/*.5
