table {
    position: relative;
    text-align: left;
    overflow-x: auto;
    max-width: 100%;
    min-width: 80%;
}

th {
    padding-left: 1em;
}

td {
    padding-left: 1em;
    margin: 0 auto;
}

tr:nth-child(even) {
    background: #CCCCCC;
}

tr:nth-child(odd) {
    background: #FFFFFF;
}

.headerTable {
    background-color: #EC1C24 !important;
    color: #FFFFFF;
    position: relative;
}

.codeProductHeader {
    width: 10%;
    border-right: 1px solid #FFFFFF;
}

.nameProductHeader {
    width: 40%;
    border-right: 1px solid #FFFFFF;
}

.priceProductHeader {
    width: 10%;
    border-right: 1px solid #FFFFFF;
}

.editProductHeader {
    width: 10%;
    /*margin:auto 0;*/
    margin: 0 auto;
    text-align: center;

}

.bodyTable {
    border-right: 1px solid #FFFFFF;
}

.bodyTable span {
    width: 100%;
    float: left;
}

.bodyTable.bodyTableCombo {
    height: 100%;
    vertical-align: middle;
}

.tdEditButton {
    text-align: center;
    width: 100%;
    float: left;
}

.editButton {
    background: url("../../images/sprite.png") -42px -67px no-repeat;
    width: 35px;
    height: 31px;
    border: none;
    align-content: center;
    display: inline-block;
    margin-top: 0.2em;
}

.changedLineWarning {
    background: url("../../images/sprite.png") -142px -65px no-repeat;
    width: 31px;
    height: 31px;
    border: none;
    align-content: center;
    margin-left: 0.3em;
}

.saveButton {
    background: url("../../images/sprite.png") -77px -67px no-repeat;
    width: 30px;
    height: 36px;
    border: none;
    align-content: center;
    margin-right: 1em;
    margin-top: 0.2em;
}

.cancelButton {
    background: url("../../images/sprite.png") -110px -67px no-repeat;
    width: 29px;
    height: 36px;
    border: none;
    align-content: center;
    margin-top: 0.2em;
}

.bodyTable input[type="text"] {
    max-width: 80px;
    min-width: 40px;
}

.productsTable {
    border: none !important;
    float: left;
    width: 100% !important;
}

.productsTable .hideTd {
    display: none;
}

.productsTable .rt-tr-group {
    border: none!important;
}

.productsTable .rt-td {
    line-height: 3em!important;
    padding: 0!important;
    height: 3em;
}

.productsTable .rt-td.comboPartCodeColumn,
.productsTable .rt-td.comboProductCodeColumn,
.productsTable .rt-td.comboProductsNameColumn,
.productsTable .rt-td.comboProductsPriceColumn,
.productsTable .rt-td.comboProductPriceColumn,
.productsTable .rt-td.comboTotalPriceColumn {
    padding: 0!important;
    height: auto;
}

.productsTable .rt-td div {
    line-height: 0;
}

.productsTable .rt-td div.editingPrice {
    margin-top: 1px;
    padding: 0;
}

.productsTable .rt-td div.editingCombo {
    line-height: 5.5em;
    height: 4.5em;
}

.productsTable .rt-td div p {
    margin: 0!important;
    line-height: 1.5em;
}

.productsTable .-even {
    background: #CCCCCC;
}

.productsTable .rt-thead {
    background-color: #EC1C24 !important;
    color: #FFFFFF;
    position: relative;
    font-size: 1em;
    font-weight: bold;
    height: 4em;
}

.productsTable .rt-thead input {
    color: #000000;
}

.productsTable .rt-thead .rt-th.-sort-asc {
    box-shadow: inset 0 3px 0 0 #FFFFFF!important;
}

.productsTable .rt-thead .rt-th.-sort-desc {
    box-shadow: inset 0 -3px 0 0 #FFFFFF!important;
}

.productsTable .rt-thead .rt-th {
    border: none !important;
    outline: none;
}

.productsTable .rt-thead .rt-th div {
    white-space: initial;
}

.productsTable .rt-table div.rt-thead, .productsTable .rt-table div.rt-tbody {
    min-width: 100% !important;
    height: 100%;
}

.productsTable .comboPartCodeColumn, .productsTable .comboProductPriceColumn, .productsTable .comboTotalPriceColumn {
    width: 10% !important;
    position: relative;
}

.productsTable .rt-td.comboPartCodeColumn div, .productsTable .rt-td.comboProductPriceColumn div, .productsTable .rt-td.comboTotalPriceColumn div {
    width: 100% !important;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.productsTable .partCodeColumn {
    width: 10% !important;
    line-height: 1em;
}

.productsTable .comboProductCodeColumn {
    width: 10% !important;
}

.productsTable .comboProductsNameColumn {
    width: 35% !important;
}

.productsTable .productsNameColumn {
    width: 60% !important;
}

.productsTable .comboProductsPriceColumn, .productsTable .productsPriceColumn, .productsTable .comboTotalPriceColumn, .productsTable .comboProductPriceColumn {
    width: 10% !important;
}

.productsTable .rt-td.productsPriceColumn div {
    line-height: 3em !important;
}

.productsTable .optionsColumn {
    width: 15% !important;
    height: 100%;
}

.productsTable .rt-td.comboProductsPriceColumn input, .productsTable .rt-td.productsPriceColumn input {
    width: 70% !important;
    line-height: 1em;
    text-align: center;
}

.productsTable {
    display: block !important;
}

.productsTable .rt-noData {
    margin-top: 15%;
    position: relative!important;
}

.comboPriceModal .modal-dialog {
    width: 40%;
}

.comboPriceModal .modal-footer button {
    background: #EC1C24;
    min-width: 40%;
    height: 100%;
    font-size: 1.3em;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    float: right;
    text-align: center;
}

.comboPriceModal .modal-footer button.confirmButton {
    float: left;
}