server/cache/*
server/cashless/*
server/databases/*.bkp
server/htdocs/dashboard/*
server/htdocs/kds/*
server/htdocs/pos/*
!server/htdocs/kds/customization*.*
server/databases/*
!server/databases/discountcalc.db
!server/databases/product.db
!server/databases/taxcalc.db
!server/databases/ntaxcalc.db
!server/databases/fiscal_params.db
!server/databases/users.db
server/logs/*
server/**/*.log*
server/**/python/*
server/**/*.pypkg.ctl
server/**/*.conf
server/updates
server/backups
server/common
server/bundles/**/python/lib/*
server/bundles/satcomp/python/*
