.menos-modal-itensExtras {
    background-image: url('../../common/images/PERSONALIZE-O-SEU-SANDUICHE/btn-menos.png');
    background-repeat: no-repeat;
    background-size: 100%;
    width: 56px;
    height: 58px;
}

.mais-modal-itensExtras {
    background-image: url('../../common/images/PERSONALIZE-O-SEU-SANDUICHE/btn-mais.png');
    background-repeat: no-repeat;
    background-size: 100%;
    width: 56px;
    height: 58px;
}

.titulo-combo-personalize {
    font-size: 305%;
    font-family: 'fontebk' !important;
    color: black;
    padding-left: 2%;
}



.titulo-item-personaliza {
    font-size: 43px;
    font-family: 'fontebk' !important;
    color: #3a1b0a;
    line-height: 23px
}

.pnl-item-personaliza {
    height: 80px;
    margin-left: 1%;
}

.font-personaliza {
    font-size: 32px;
    color: #fff;
}

.font-btn-cancelar-personaliza {
    margin-left: -4%;
}

.font-contador-personaliza {
    font-size: 53px;
    color: #fff;
}

 .pnl-personaliza {
    height: 600px !important;
    /* padding-bottom: 22%; */
}

.custom-buttons-counter {
    background-repeat: no-repeat;
    background-size: 100%;
    width: 80px;
    height: 80px;
}

.menos-personaliza {
    background-image: url('../../common/images/PERSONALIZE-O-SEU-SANDUICHE/btn-menos.png');
}

.mais-personaliza {
    background-image: url('../../common/images/PERSONALIZE-O-SEU-SANDUICHE/btn-mais.png');
}

.contador-personaliza {
    background-image: url('../../common/images/PERSONALIZE-O-SEU-SANDUICHE/bg-total.png');
    text-align: center;
}

.btn-modal-itensExtras-ok {
    background-image: url('../../common/images/PERSONALIZE-O-SEU-SANDUICHE/btn-confirmar-personalizacao.png');
    background-repeat: no-repeat;
    background-size: 100%;
    width: 88%;
    position: absolute;
    height: 50px;
}

.btn-personaliza-cancela {
    background-image: url('../../common/images/cancela-receita.png');
    background-repeat: no-repeat;
    background-size: 100%;
    display: inline-block;
    width: 230px;
    height: 51px;
    margin-right: 2%;
    margin-top: 4%;
}

.btn-personaliza-confirma {
    background-image: url('../../common/images/confirma-receita.png');
    background-repeat: no-repeat;
    background-size: 100%;
    display: inline-block;
    width: 230px;
    height: 51px;
    margin-left: 2%;
    margin-top: 4%;
}

.btn-personaliza-receita {
    background-image: url('../../common/images/voltar-receita-original.png');
    background-repeat: no-repeat;
    background-size: 100%;
    display: inline-block;
    width: 230px;
    height: 51px;
    /*margin-left: 2%;*/
    /*margin-right: 2%;*/
    margin-top: 4%;
}

#sub-footer .center-body-custom {
    margin-top: 20px;
}

 #sub-footer .body-custom-snack {
    height: 640px !important;
    /* padding: 0 !important; */
}

 #sub-footer .pnl-personaliza .row {
    margin-bottom: 10px !important;
}