     /* .logo {
         width: 52.5%;
         margin-right: 8.7%;
     } */

     .bg-bottom-itens-pedido-carrinho {
         width: 100%;
         height: 4px;
         background-image: url("../../common/images/line-med-horz.png");
         background-repeat: repeat;
         clear: both;
         margin-top: 9%;
     }

     .bg-itens-pedido-carrinho .titulo-produto-rodape {
         font-size: 250% !important;
     }

     .bg-itens-pedido-carrinho .valor-produto-rodape {
        font-size: 256% !important;
        letter-spacing: -3px;
     }

     .bg-itens-pedido-carrinho .pai-box-produto {
         width: 100%;
     }

     .bg-itens-pedido-carrinho .preco-porcao {
         font-size: 120%;
     }

     .max-width .rolagem {
         height: 1630px;
         padding-right: 25px !important;
     }

     .rolagem .col-sm-12, .col-md-12 {
         clear: both;
     }

     .resumo-valores {
         min-height: 0px !important;
         padding-right: 15px;
     }

     .bg-input-cpf {
         width: 100%;
         height: 56px;
         background-image: url('../../common/images/NOTA-FISCAL-CPF/bg_campo_cpf.png');
         background-repeat: no-repeat;
         background-size: contain;
         margin-bottom: 1%;
     }

     .bg-input-cpf span {
         font-size: 269% !important;
         line-height: 139%;
         margin-left: 2%;
     }

     #modalCPF .modal-header .close {
         margin-top: 0;
     }

     #modalCPF .close-modal {
         background-size: 24px !important;
     }

     #modalCPF .text-btn-resumo {
         font-size: 65%;
         font-family: 'fontebk-DinBold' !important;
     }

     #modalCPF .btn-finalizar-pedido {
         width: 230PX;
     }

     #modalCPF .btn-cancelar-pedido {
         width: 230PX;
     }

     .bnt-cpf {
         background-color: #e5e5e5;
         width: 118px;
         height: 60px;
         float: left;
         margin-right: 2%;
         margin-bottom: 2%;
     }

     .bnt-cpf-last {
         margin-right: 0 !important;
     }

     .bnt-cpf span {
         line-height: 141%;
         font-size: 280%;
         font-family: "fontebk-DinRegular";
     }

     .btn-arrow-back {
         width: 29%;
         margin-top: 15%;
     }

     #modalCPF .modal-dialog {
         width: 400px;
     }

     #modalCPF .bg-modal-int-cpf {
         height: 547px;
         background-size: 400px;
         background-image: url('../../common/images/NOTA-FISCAL-CPF/bg_nota_com_cpf.png');
     }

     #modalCPF .modal-body .col-sm-12, .col-md-12 {
         padding-right: 0 !important;
         clear: both;
     }

     #modalCPF .btn-modal {
         width: 100%;
         background-repeat: no-repeat;
         position: initial;
         max-width: 200px;
         max-height: 150px;
         width: auto;
         height: auto;
         background: no-repeat center;
         background-size: cover;
     }

     #modalCPF .modal-header {
         padding: 0;
     }

     #modalCPF .modal-body {
         position: relative;
         padding: 0 4% 0 0;
     }

     /* #modalCPF .modal-body .row {
         margin-bottom: 42px;
     } */

     .bg-input-name {
         width: 740px;
         height: 135px;
         background-image: url('../../common/images/Teclado/bg_input_nome.png');
         background-repeat: no-repeat;
         background-size: contain;
         margin: 0 0 4%;
         white-space: nowrap;
         display: inline-block;
     }

     .no-padding {
         padding-right: 0;
         padding-left: 0;
     }

     .bg-input-name .text-btn-resumo {
        font-size: 465%;
        margin-left: 2%;
        font-family: 'Lucida Console' !important;
        word-wrap: break-word;
     }

     .bnt-teclado {
         background-color: #e5e5e5;
         width: 85px;
         height: 150px;
         float: left;
         margin-right: 2%;
         margin-bottom: 2%;
     }

     .btn-cliente {
         margin-bottom: 5% !important;
     }

     .bnt-teclado-icones {
         width: 138px;
     }

     .bnt-teclado-espaco {
         width: 98%;
     }

     .bnt-teclado span {
         line-height: 141%;
         font-size: 639%;
         font-family: "fontebk-DinRegular";
     }

     .div-segunda-coluna-teclado {
         margin-left: 5%;
     }

     .btn-shift {
         width: 95%;
         margin-top: 15%;
     }

     .btn-space {
         width: 65%;
         margin-top: 2%;
     }

     .resumo-pedido-open-fluxo {
         background-color: #fff !important;
     }

     .div-btns-resumo {
         margin-bottom: 20%;
     }

     .div-btns-resumo-order {
         margin-bottom: 1% !important;
     }

     .text-btn-cpf {
         font-family: 'fontebk' !important;
         font-size: 183%;
         color: #fff;
     }

     .btn-nao-modal {
         width: 183px;
         height: 39px;
         background-size: 183px;
         background-image: url('../../common/images/NOTA-FISCAL-CPF/bg_negar_cpf.png');
         background-repeat: no-repeat;
     }

     .btn-confirmar-modal {
         height: 39px;
         width: 171px;
         background-size: 100%;
         background-image: url('../../common/images/NOTA-FISCAL-CPF/bg_confirma_cpf.png');
         background-repeat: no-repeat;
         margin-left: 8%;
     }
     /*forma de pagamento*/

     .bg-forma-pagamento {
         height: 299px;
         background-size: 98%;
         background-image: url('../../common/images/TELA-DE-PAGAMENTO/bg_pagamento.png');
         background-repeat: no-repeat;
     }

     .bg-pagto-dividido {
         background-image: url('../../common/images/TELA-DE-PAGAMENTO/bg_rachar.png');
     }
     .bg-pagto-inteiro {
         background-image: url('../../common/images/TELA-DE-PAGAMENTO/bg_inteiro.png');
     }

     .bg-pagto-dividido .titulo,.bg-pagto-inteiro .titulo {
         color: white;
         width: 100%;
         text-align: center;
     }

     .divs-bg-pagamento {
         float: left;
     }

     .bandeiras-cartao {
         width: 10%;
     }

     .bg-forma-pagamento {
         height: 300px;
     }

     .divs-bg-pagamento {
         margin-top: 9%;
     }

     .bandeiras-cartao-visa {
         width: 26%;
         margin-right: 3%;
         margin-left: 7%;
     }

     .cartao-visa-credito {
         margin-left: 2%;
     }

     .bandeiras-cartao-master {
         width: 21%;
         margin-right: 3%;
     }

     .bandeiras-cartao-america {
         width: 14%;
     }

     .divs-bg-pagamento .titulo {
         font-size: 507%;
         margin-left: 3%;
         margin-top: 2.5%;
     }

     .divs-pagamento-alimentacao {
         margin-top: -6%;
     }

     .bandeiras-cartao-diners {
         width: 15%;
         margin-right: 3%;
         margin-left: 14%;
     }

     .bandeiras-cartao-elo {
         width: 13%;
         margin-right: 3%;
     }

     .bandeiras-cartao-aelo {
         width: 15%;
         margin-right: 3%;
     }

     .bandeiras-cartao-ticket {
         width: 27%;
         margin-left: 8%;
         margin-right: 4%;
     }

     .bandeiras-cartao-sodexo {
         width: 27%;
     }

     .segunda-linha-restaurante {
         margin-top: 1%;
     }

     #modalFluxoPagamento .titulo-body-modal {
         font-family: 'fontebk-DinBold' !important;
         clear: both;
         line-height: 100%;
         font-size: 270%;
     }

     #modalFluxoPagamento .regular {
         font-size: 170%;
         font-family: "fontebk-DinRegular" !important;
         clear: both;
         line-height: 100%;
     }

     #modalFluxoPagamento .DinBold {
         font-family: 'fontebk-DinBold' !important;
     }

     #modalFluxoPagamento .titulo {
         font-size: 330%;
     }

     .bg-pagamento-modal {
         height: 109px;
         background-size: 98%;
         background-image: url('../../common/images/TELA-DE-PAGAMENTO/bg_pagamento_modal.png');
         background-repeat: no-repeat;
         margin: 5% 0 5% 0;
     }

     .bg-pagamento-modal .titulo {
         font-size: 350%;
     }

     .bg-pagamento-modal-hamburger {
        height: 125px;
        margin: 5% 0 5% 35%;
     }

     .bg-pagamento-modal-recido {
         height: 125px;
         margin: 5% 0 5% 41%;
     }

     .bg-pagamento-modal-finalizar {
        height: 125px;
         margin: 5% 0 5% 35%;
     }

     /* @media screen and (max-width: 768px) { */
         .bg-itens-pedido-carrinho .titulo-produto-rodape {
             font-size: 150% !important;
         }

         .bg-itens-pedido-carrinho .preco-porcao {
             font-size: 80%;
         }
         .max-width .rolagem {
             height: 595px;
         }
         #modalCPF .bg-modal .modal-title {
             margin-left: 0;
         }
         #modalCPF .close-modal {
             width: 26px;
             height: 25px;
             margin-right: 5px;
         }
         #modalFluxoPagamento .titulo {
             font-size: 220%;
         }
         #modalCoupon .modal-header {
             padding: 5px 15px 0 15px;
         }
         #modalCoupon .modal-header .close {
             margin-top: 6px;
         }

         #modalCoupon .modal-body{
             padding-top: 37px;
         }
         .bg-input-cpf span {
             line-height: 139% !important;
         }
         .bnt-teclado {
             width: 59px;
             height: 80px;
         }
         .bnt-teclado span {
             line-height: 141%;
             font-size: 390%;
         }
         .bnt-teclado-icones {
             width: 96px;
         }
         .bnt-teclado-espaco {
             width: 97%;
         }


         .btn-cliente {
             margin-bottom: 5% !important;
         }
         .div-btns-resumo {
             margin-bottom: 6%;
         }
         .div-btns-resumo-coupon {
             margin-bottom: 1%;
             clear: both;
         }
         .btn-shift {
             width: 95%;
             margin-top: 0;
         }
         .btn-space {
             width: 75%;
             margin-top: 0;
         }
         .no-padding {
             padding-right: 0;
             padding-left: 0;
         }
         /*TELA DE SELEÇAÕ DE CARTÃO*/
         .bg-forma-pagamento {
             height: 219px;
         }
         .divs-bg-pagamento {
             margin-top: 9%;
         }
         .bandeiras-cartao-visa {
             width: 20%;
             margin-right: 3%;
             margin-left: 9%;
         }
         .cartao-visa-credito {
             margin-left: 6%;
         }
         .bandeiras-cartao-master {
             width: 15%;
             margin-right: 3%;
         }
         .bandeiras-cartao-america {
             width: 8%;
         }
         .divs-bg-pagamento .titulo {
             font-size: 460%;
             margin-left: 4%;
             margin-top: 0.5%;
         }
         .divs-pagamento-alimentacao {
             margin-top: -4%;
         }
         .bandeiras-cartao-diners {
             width: 10%;
             margin-right: 3%;
             margin-left: 10%;
         }
         .bandeiras-cartao-elo {
             width: 8%;
             margin-right: 3%;
         }
         .bandeiras-cartao-aelo {
             width: 12%;
             margin-right: 3%;
         }
         .bandeiras-cartao-ticket {
             width: 22%;
             margin-left: 2%;
             margin-right: 4%;
         }
         .bandeiras-cartao-sodexo {
             width: 22%;
         }
         .segunda-linha-restaurante {
             margin-top: 1%;
         }
         /*modal fluxo pagamento*/
         #modalFluxoPagamento .titulo-body-modal {
             line-height: 100% !important;
             font-size: 172% !important;
         }
         #modalFluxoPagamento .bg-modal .modal-title {
            font-size: 269% !important;
            margin-top: 4% !important;
            margin-left: 1px !important;
         }
         #modalFluxoPagamento .text-line-height {
             line-height: 67px !important;
         }
         #modalFluxoPagamento .regular {
             font-size: 110% !important;
             line-height: 100% !important;
         }
         #modalFluxoPagamento .DinBold {
             font-family: 'fontebk-DinBold' !important;
             font-size: 110% !important;
             line-height: 100% !important;
         }
         .bg-pagamento-modal {
             height: 73px;
         }
         .bg-pagamento-modal .titulo {
             font-size: 235%;
         }

         .bg-pagamento-modal-finalizar {
             height: 125px;
         }
     /* } */
.bg-amount {
    background: url('../../common/images/TELA-DE-PAGAMENTO/bg_valor.png');
    background-size: 100% 100%;
    font-family: 'fontebk';
    font-size: 14pt;
    width: 40%;
    margin: 10px 15px;
    padding: 6px;
    text-align: center;
}

.item-preview-build {
    float: right;
    width: 48%;
    margin-right: 2%;
    text-align: left;
}

.item-preview-build .pai-box-produto {
    width: 95%;
    padding-left: 0px;
    height: 140px;
    overflow-y: auto;
    overflow-x: hidden;
}

.item-preview-build .preco-porcao {
    padding-left: 5px;
}

.item-preview-build .preco-porcao.ingredient {
    padding-left: 10px;
}

.item-preview-build .titulo-produto-rodape.valor-produto-rodape {
    position: fixed;
    top: 715px;
    right: 100px;
}

.sale-total {
    margin: 25px 0px;
    position: fixed;
    width: 100%;
    bottom: 55px;
    left: 0;
}