@font-face {
    font-family: 'fontebk';
    src: local('fontebk'), url('../../common/vendor/font-awesome/fonts/Block-Berthold-Condensed.ttf') format('truetype')
}

@font-face {
    font-family: 'fontebk-DinBold';
    src: local('fontebk-DinBold'), url('../../common/vendor/font-awesome/fonts/DINPro-Bold.otf') format('truetype')
}

@font-face {
    font-family: 'fontebk-DinRegular';
    src: local('fontebk-DinRegular'), url('../../common/vendor/font-awesome/fonts/DINPro-Regular.otf') format('truetype')
}

@font-face {
    font-family: 'fontebk-BtnResumo';
    src: local('fontebk-BtnResumo'), url('../../common/vendor/font-awesome/fonts/BlockBertholdTextured.ttf') format('truetype')
}

#page-ordered {
    height: 100vh;
    background-color: #fff;
}

#page-ordered .logo {
    width: 65%;
    text-align: right;
    margin-right: 5%;
    padding-top: 0;
}

#page-ordered .row {
    /* margin-bottom: 20px; */
    margin-right: 0;
    margin-left: 0;
}

#page-ordered .titulo {
    font-size: 400%;
    line-height: -200px;
}

.lista-produto {
    width: 32%;
}

.font-msg-promo{
    font-size: 300%;
    margin-top: 60%;
}

.lista-produto:last-child {
    margin-right: 0;
}

.rodape {
    font-size: 300%;
}

.rodape-preco {
    font-size: 400%;
    margin-bottom: 0;
}

#page-ordered footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}


footer > .max-width, .resumo-pedido .row {
    margin-bottom: 0 !important;
}

.btn-voltar {
    width: 100%;
    margin-left: 5%;
}

.text-right {
    text-align: right;
}

.image {
    position: relative;
    width: 100%;
}

h2 {
    position: absolute;
    top: 10px;
    left: 0;
    width: 100%;
}

h2 span {
    color: white;
    font-size: 150%;
}

h2 span.spacer {
    padding: 0 0px;
}

/* .rolagem {
    height: 100%;
    max-height: 1800px;
    overflow: auto;
} */

.rolagem {
    height: 100%;
    max-height: 818px;
    overflow-x: hidden;
    overflow-y: auto;
    overflow: -moz-scrollbars-vertical;
    -ms-overflow-style: none;
    /*scrollbar-face-color: #F2F1F0;
    scrollbar-track-color: #F2F1F0;
    scrollbar-arrow-color: #F2F1F0;
    scrollbar-highlight-color: #F2F1F0;
    scrollbar-shadow-color: #F2F1F0;
    scrollbar-3dlight-color: #F2F1F0;
    scrollbar-darkshadow-color: #F2F1F0;*/
    -webkit-overflow-scrolling: touch;
}

.rolagem::-webkit-scrollbar {
    width: 5px;
}

.rolagem::-webkit-scrollbar-thumb {
    /*height: 15px;*/
    border-radius: 5px;
}

.rolagem.show-scroll::-webkit-scrollbar-thumb {
    background-color: #DDD;
}

.rolagem.hide-scroll::-webkit-scrollbar-thumb {
    background-color: transparent;
}

.rolagem::-webkit-scrollbar-track-piece {
    background-color: transparent;
    width: 2px;
}


.rolagem::-webkit-scrollbar-corner {
    /*background: #F2F1F0;*/
    display: none;
}
.rolagem::-webkit-scrollbar-button {
    display: none;
}

.titulo-produto-pedido{
    font-size: 22px;
    font-family: 'fonteBk-dinBold';
    letter-spacing: -1px;
    line-height: 26px;
}


.modal-body .bg-produto {
    width: 230px;
}

.bg-modal-ativado {
    width: 230px;
    height: 221px;
    background-repeat: no-repeat;
    /* background-image: url("../../common/images/bg_ativado.png"); */
    background-size: 100%;
    float: left;
    margin-right: 0.2%;
}

div[role="main"] {
    background-color: #fff;
}

div[role="main"], nav, aside {
    height: 100%;
}

.max-width {
    width: 100%;
}

.vertical-align-center {
    display: table-cell;
    vertical-align: middle;
    pointer-events: none;
}

.modal-content {
    width: inherit;
    height: inherit;
    margin: 0 auto;
    pointer-events: all;
}

.lista-produto {
    width: 32%;
}

.lista-produto:last-child {
    margin-right: 0;
}

/* .font-index {
    font-family: 'fontebk';
} */

.font-modal-product{
    font-family: 'fontebk';
    padding-left: 15px;
}

.titulo {
    font-size: 400%;
    line-height: -200px;
}

.rodape {
    font-size: 300%;
}

.rodape-preco {
    font-size: 400%;
}

.preco-porcao {
    font-family: "fontebk-DinRegular";
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer > .max-width, .resumo-pedido .row {
    margin-bottom: 0 !important;
}

.btn-voltar {
    width: 100%;
    margin-left: 5%;
}

.text-right {
    text-align: right;
}

.image {
    position: relative;
    width: 100%;
}

h2 {
    position: absolute;
    top: 10px;
    left: 0;
    width: 100%;
}

h2 span {
    color: white;
    font-size: 150%;
}

h2 span.spacer {
    padding: 0 0px;
}

.resumo-pedido {
    background-color: #eeaa03;
    min-height: 80px;
    bottom: 0;
 }

.footer-shadow-close{
    box-shadow: rgb(0, 0, 0) 0px 33px 99px;
}

.footer-shadow-open{
    box-shadow: rgb(0, 0, 0) 0px 19px 99px;
}

.bg-produto {
    width: 172px;
    height: 155px;
    background-repeat: no-repeat;
    background-size: 100%;
    float: left;
    margin-right: 0.5%;
    padding-top: 4%;
    margin-bottom: 6%;
}

.bg-produto-offer {
    width: 87%;
    padding: 1%;
}

.produto-combo {
    width: 297px;
    height: 221px;
    float: left;
    margin-right: 4.5%;
}

.produto-combo-selecionado {
    width: 244px;
    height: 221px;
    float: left;
    margin-right: 0.5%;
    background-repeat: no-repeat;
    background-image: url("../../common/images/bg_defaut.png");
    background-size: 100%;
    padding-top: 3%;
    margin-left: 2%;
}

.bg-voltar {
    width: 160px;
    height: 88px;
    background-repeat: no-repeat;
    background-image: url("../../common/images/btn_voltar.png");
    background-size: 142px;
}

.bg-fundo-topo {
    width: 100%;
    height: 56%;
    background-repeat: no-repeat;
    background-image: url("../../common/images/fundo_branco_home.png");
    background-size: 100% 5%;
    position: absolute;
    top: 323px;
}

.div-personaliza-individual{
    text-align: center;
}


.div-personaliza-individual-padd{
    padding-top: 274px;
}

.bg-voltar-padd{
    padding-left: 31px;
}

.text-back {
    font-size: 400%;
    color: white;
}

.produto-nome-king {
    padding-top: 1%
}

.text-line-height {
    line-height: 95px;
}

.bg-produto:last-child {
    margin-right: 0;
}

.produtos-nome-dog {
    padding-top: 5.5%;
}

.width-produto {
    max-width: 120px;
    height: auto;
    margin-bottom: 11px;
    max-height: 120px;
    width: auto;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    margin-bottom: 10px;
}

.width-produto-pop-up {
    max-width: 150px;
     max-height: 150px;
  }

.width-produto-king {
    width: 69%;
}

.width-produto-top{
    max-width: 110px;
    max-height: 110px;
}

.width-produto-mafioso {
    width: 62%;
}

.width-produto-churras {
    width: 62%;
}

.width-produto-chimichurras {
    width: 59%;
}

.titulo-produto {
    font-size: 200%;
    line-height: 21px;
    font-family: 'fontebk' !important;
}

.btn-modal-text {
    font-size: 229%;
    font-family: 'fontebk' !important;
    padding-right: 19px;
}

.vertical-alignment-helper {
    display: table;
    height: 100%;
    width: 100%;
    pointer-events: none;
}

.vertical-align-center {
    display: table-cell;
    vertical-align: middle;
    pointer-events: none;
}

.modal-content {
    width: inherit;
    height: inherit;
    margin: 0 auto;
    pointer-events: all;
}

.font-contador {
    font-family: 'fontebk';
    text-align: center;
    color: #eeaa03;
    padding-top: 5%
}

.contador-text {
    font-size: 500%;
    line-height: 1.0;
}

.contador-numero {
    font-size: 2000%;
    line-height: 0.9;
}

#voltar:before {
    content: url('../../common/images/icon_voltar.png');
    position: absolute;
    background-size: 15px;
    left: 30%;
    top: 0;
}

.preco-porcao {
    font-family: sans-serif;
}

.bg-produto p {
    margin-bottom: 3px !important;
}

.bg-fundo-menu-lateral {
    width: 231px;
    height: 245px;
    background-repeat: no-repeat;
    background-image: url("../../common/images/bg_defaut.png");
    background-size: 100%;
    float: left;
    margin-right: 0.5%;
}

.fundo-destaque {
    background-image: url("../../common/images/bg_destaque_defaut.png");
}

.bg-menu-lateral:last-child {
    margin-right: 0;
}

.bg-menu-lateral p {
    margin-bottom: 3px !important;
}

.titulo-menu-lateral {
    font-size: 153%;
    color: #3a1b0a;
    /* padding-top: 13%; */
    line-height: 0.8;
}

.img-destaque {
    width: 30%;
    padding-top: 20%;
    padding-bottom: 13%;
}

.img-empty {
    width: 42%;
    padding-top: 20%;
}

.img-menu-frango {
    width: 65%;
    padding-top: 16%;
    padding-bottom: 11%;
}

.img-menu-Kid {
    width: 79%;
    padding-top: 16%;
    padding-bottom: 11%;
}

.img-menu-salada {
    width: 67%;
    padding-top: 8%;
    padding-bottom: 11%;
}

.img-menu-sobremesa {
    width: 52%;
    padding-top: 5%;
    padding-bottom: 11%;
}

.img-menu-lateral {
    /* width: 65%;
    padding-top: 20%;
    padding-bottom: 11%; */
}

.text-btn-modal-itensExtras {
    margin-left: 12%;
    position: absolute;
    padding-top: 1%;
}

.img-acompanhamento {
    width: 35%;
    padding-top: 11%;
    padding-bottom: 11%;
}

.padding-top-button-modal {
    padding-top: 10%;
    padding-left: 0;
    padding-right: 0;
}

#modalSugestion .menos-modal-itensExtras {
    background-image: url(../images/PERSONALIZE-O-SEU-SANDUICHE/btn-menos.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 61px;
    height: 58px;
}

#modalSugestion .mais-modal-itensExtras {
    background-image: url(../images/PERSONALIZE-O-SEU-SANDUICHE/btn-mais.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 61px;
    height: 58px;
}

.img-modal-itensExtras {
    max-height: 8vh;
    max-width: 22vw;
    height: auto;
    width: auto;
    position: inherit;
}

.body-modal-itensExtras {
    margin-left: 1%;
}

#modalSugestion .row-produto-modal {
    height: 100%;
    margin-top: 2%;
}

#modalSugestion .row {
    margin-bottom: 0px
}

.img-bebida {
    width: 25%;
    padding-top: 14%;
    padding-bottom: 11%;
}

.menu-lateral-item-desabled {
    background-image: url("../../common/images/bg_defaut.png");
    width: 231px;
    height: 245px;
    background-repeat: no-repeat;
    background-size: 100%;
    float: left;
    margin-right: 0.5%;
    filter: grayscale(100%);
    opacity: 0.4;
    pointer-events: none;
}

.menu-lateral {
    padding-bottom: 2%;
    padding-left: 10px;
    width: 26%;
}

.width-bebida {
    width: 21%;
    padding-top: 1%;
}

.width-bebida-h20h {
    width: 20%;
    padding-bottom: 2%;
}

.width-bebida-sufresh {
    width: 45%;
    padding-top: 1%;
    padding-bottom: 5.1%;
}

.titulo-bebida {
    font-size: 200%;
    line-height: 1.1;
    font-family: 'fontebk' !important;
}

.width-acompanhamento {
    width: 26.6%;
}

.width-balde {
    width: 31%;
}

.logo-combo {
    width: 40%;
    text-align: right;
    margin-right: 3%;
}

.titulo-combo {
    font-size: 305%;
    font-family: 'fontebk' !important;
    padding-left: 4%;
    display: inline-block;
}

/* .titulo-combo-bebida {
    font-size: 305%;
    font-family: 'fontebk' !important;
    color: #A2007D;
    padding-left: 3%;
} */

.titulo-combo-personalize {
    font-size: 305%;
    font-family: 'fontebk' !important;
    color: black;
    padding-left: 2%;
}

.width-yes {
    width: 23%;
    padding-bottom: 1%;
    margin-left: 1%;
}

.width-kid {
    width: 70%;
}

.rolagem .col-sm-12, .col-md-12 {
    /* padding-right: 0 !important; */
}


/*MODAL PRODUTO SELEÇÃO*/

.ims-produto-modal {
    width: 160px;
    padding: 20px;
}

/* .box-produto-modal {
    width: 250px;
    opacity: 0.3;
} */

.produto-modal-ativo img {
    /* margin-left: 17%; */
}

.produto-modal-inativo img {
    /* margin-left: 17%; */
}
/*
.modal-header {
    padding: 10px 15px 0 15px;
    border-bottom: none;
    text-align: center;
} */

.modal-footer {
    border-top: none;
}

.modal-selecao {
    background-color: transparent !important;
    box-shadow: transparent;
    border: none;
}

.bg-modal {
    height: 405px;
}

.bg-modal-int {
    background-image: url("../../common/images/box_modal.png");
    width: 139%;
    height: 419px;
    background-repeat: no-repeat;
    background-size: 551px 415px;
    position: absolute;
    top: -6px;
    margin-left: -70px;
}

.btn-modal {
    width: 35%;
    height: 69px;
    background-repeat: no-repeat;
    background-size: 88%;
    position: absolute;
    bottom:  -19px;
}

.btn-modal-coupon{
    left: 29%;
}

.btn-modal-products{
    left: 35%;
}



.btn-modal-inativo {
    background-image: url("../../common/images/btn_confirmar_desativo.png");
    color: #ccc;
}

.btn-modal-ativo {
    background-image: url("../../common/images/btn_confirmar_ativado.png");
    color: white;
}

.btn-modal .titulo-produto {
    line-height: 41px !important;
    padding-right: 16px;
}

.bg-modal .modal-title {
    color: white;
    text-align: left;
    font-size: 275%;
    margin-top: -1%;
    font-family: 'fontebk' !important;
}

.bg-modal .modal-title-cpf{
    color: white;
    font-size: 196%;
    margin-top: 2%;
    font-family: 'fontebk' !important;
}

.bg-modal-int-cpf {
    background-image: url("../../common/images/box_modal.png");
    width: 100%;
    height: 419px;
    background-repeat: no-repeat;
    background-size: 551px 415px;
}


.titulo-produto-top{
    font-size: 174% !important;
    line-height: 19px !important;
    margin-bottom: 19px;
}

.titulo-produto-modal{
    font-size: 174% !important;
    line-height: 9px !important;
   }

.btn-modal-ok {
    width: 178px;
    background-repeat: no-repeat;
    background-size: 88% 101%;
    position: absolute;
    height: 72px;
    margin-left: 172px;
    padding-bottom: 65px;
    margin-top: -48px;
}

.btn-modal-ok-text{
    font-size: 348%;
    font-family: 'fontebk' !important;
    position: absolute;
    left: 30%;
    top: 9%;
}



.bg-modal .modal-title-itensExtras {
    color: white;
    text-align: left;
    font-size: 196% !important;
    margin-top: 2%;
    margin-left: -20px;
}

.bg-modal .modal-title-cupom {
    color: white;
    text-align: left;
    font-size: 248%;
    margin-top: 3%;
}

.bg-modal .modal-body {
    padding-top: 37px;
    width: 100%;
}

.modal-body-product {
    position: relative;
    padding-right: 14px;
}

.modal-body .row {
    margin-bottom: 0;
}

.close-modal {
    background-image: url("../../common/images/btn_close.png");
    width: 29px;
    height: 26px;
    background-repeat: no-repeat;
    background-size: 26px;
    opacity: 1;
    position: absolute;
    right: 3px;
    top: 11px;
}

.close-modal-pedido{
    background-image: url("../../common/images/btn_close.png");
    width: 31px;
    height: 31px;
    background-repeat: no-repeat;
    background-size: 28px;
    opacity: 1;
    position: absolute;
    right: 7px;
    top: 15px;
}

.row-produto-modal {
    height: 260px;
    overflow: hidden;
}

.font-img-modal-itensExtras {
    color: #3a1b0a;
    text-align: center;
}

.font-contador-modal-itensExtras {
    font-size: 98px;
    font-size: 33px !important;
    margin-top: -17px;
    color: #eeaa03;
}


/*resumo pedido*/

.resumo-pedido {
    background-color: #eeaa03;
    height: 95px;
    bottom: 0;
}

.resumo-pedido-open {
    background-color: #F2F1F0;
    transition: visibility 0s, opacity 0.5s linear;
    margin-bottom: 0;
}

.resumo-pedido-close {
    visibility: hidden;
    height: 0px;
    overflow: hidden;
}

footer .row {
    margin-bottom: 0;
}

.bg-top-detalhe {
    width: 100%;
    height: 23px;
    background-image: url("../../common/images/borda_top_resumo.png");
    background-repeat: no-repeat;
}

.bg-bottom-detalhe {
    width: 100%;
    height: 23px;
    background-image: url("../../common/images/borda_bottom_resumo.png");
    background-repeat: no-repeat;
    margin-top: -10px;
}

.box-produto-rodape {
    width: 100%;
    background-color: #FFF;
    padding: 0 15px 0 15px;
    position: relative;
    min-height: 131px;
}

.pai-box-produto {
    float: left;
    margin-right: 10px;
    margin-top: 0.8%;
    width: 170px;
    margin-bottom: 20px;
    padding-left: 50px;

}

.pai-box-produto:last-child {
    margin-right: 0;
}

.titulo-produto-rodape {
    font-family: 'fontebk-DinBold' !important;
    font-size: 115%;
    line-height: 25px;
}

.valor-produto-rodape {
    font-family: 'fontebk-DinBold' !important;
    position: absolute;
    bottom: -7px;
    right: 8px;
}


/*
.div-btns-resumo-cupom-padding {
    padding-left: 0;
} */

.div-btns-resumo {
    font-size: 380%;
    color: #fff;
    margin-bottom: 1%;
}

.div-btns-resumo-cupom {
    font-size: 380%;
    color: #fff;
    padding-left: 0;
    padding-bottom: 0.5%;
}

.text-btn-resumo-acentuacao {
    font-family: 'fontebk' !important;
}

.text-btn-resumo {
    font-family: 'fontebk-BtnResumo' !important;
}


.btn-cancelar-pedido {
    width: 390px;
    background-image: url("../../common/images/btn_cancelar_pedido.png");
    background-repeat: no-repeat;
    background-size: 100%;
    margin-left: 15%;
}

.btn-green {
    background-image: url("../../common/images/btn_finalizar_pedido.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.btn-finalizar-pedido {
    width: 390px;
    background-image: url("../../common/images/btn_finalizar_pedido.png");
    background-repeat: no-repeat;
    background-size: 100%;
    margin-left: 5%;
}

.produtos-combo {
    padding-top: 1%;
    padding-bottom: 2%
}

.produtos {
    padding-top: 1%;
    padding-bottom: 5%;
}

.indent-details{
    margin-left: 0px;
    font-family: 'fonteBk-dinBold';
    font-size: 22px;
    letter-spacing: -1px;
    line-height: 22px;
}

.indent-details-2x{
    margin-left: 29px;
}

.details-text{
    font-family: sans-serif;
    white-space: pre-line;
    font-size: 14.5px;
    line-height: 18px;
    letter-spacing: 0;
}

.produtos-nome {
    padding-top: 0px
}

.produto-combo {
    width: 306px;
    height: 221px;
    float: left;
    margin-right: 4.5%;
}

.width-suprema {
    width: 63%;
    padding-top: 15%;
}

.width-fries {
    width: 45%;
    padding-top: 3%;
}

.width-onion {
    width: 42%;
    padding-top: 3%;
}

.produtos-nome-fries {
    padding-top: 4%;
}

.width-pepsi {
    width: 53%;
    padding-top: 7%;
}

.produtos-nome-pepsi {
    padding-top: 7%
}

.circle-selecao {
    width: 4%;
    position: absolute;
    margin-left: 1%;
    margin-top: -12%;
}

.circle-selecao-shack {
    width: 4%;
    position: absolute;
    margin-left: 3.3%;
}

.circle-selecao-neg {
    width: 4%;
    position: absolute;
}

.font-contador-itens {
    position: absolute;
    margin-left: 2.1%;
    margin-top: 0.5%;
    font-size: 22px;
    color: #fff
}

.font-shack {
    position: absolute;
    margin-left: 4.3%;
    margin-top: 0.5%;
    font-size: 22px;
    color: #fff;
}

.font-neg {
    position: absolute;
    margin-left: 1%;
    margin-top: 0.5%;
    font-size: 22px;
    color: #fff;
}

.btn-cupom {
    width: 191%;
    background-image: url("../../common/images/categoria/promocao/bg_cupom_desconto.png");
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 1%;
    text-align: center;
}

.btn-nao-modal {
    width: 183px;
    height: 39px;
    background-size: 183px;
    background-image: url('../../common/images/NOTA-FISCAL-CPF/bg_negar_cpf.png');
    background-repeat: no-repeat;
}

.btn-confirmar-modal {
    height: 39px;
    width: 171px;
    background-size: 100%;
    background-image: url('../../common/images/NOTA-FISCAL-CPF/bg_confirma_cpf.png');
    background-repeat: no-repeat;
    margin-left: 8%;
}

.btn-cancelar-item {
    width: 390px;
    background-image: url('../../common/images/btn_cancelar_pedido.png');
    background-repeat: no-repeat;
    background-size: 100%;
    margin-left: 15%;
}

.btn-finalizar-item {
    width: 390px;
    background-image: url('../../common/images/btn_finalizar_pedido.png');
    background-repeat: no-repeat;
    background-size: 100%;
    margin-left: 5%;
}

.titulo-cupom {
    font-size: 364%;
}

.subtitulo-cupom {
    font-size: 289%;
    text-align: center;
    line-height: 1;
}

.btn-cupom-popup {
    width: 247px;
    background-image: url('../../common/images/btn_cancelar_pedido.png');
    background-repeat: no-repeat;
    background-size: 97%;
    margin-left: 0%;
}

.btn-cupom-popup-ok {
    width: 247px;
    background-image: url('../../common/images/btn_finalizar_pedido.png');
    background-repeat: no-repeat;
    background-size: 97%;
    margin-left: 0%;
}

.btn-modal-itensExtras-ok {
    background-image: url(../images/PERSONALIZE-O-SEU-SANDUICHE/btn-confirmar-personalizacao.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 88%;
    height: 50px;
    position: absolute;
    top: -35px;
    left: 106px;
}

.btn-modal-itensExtras-text {
    margin-top: 5%;
    font-size: 233%;
    color: #fff;
    margin-bottom: 1%;
}

.btn-cupom-popup-text {
    font-size: 233%;
    color: #fff;
}

.btn-cupom-group{
    padding-top: 6%;
}

.img-cupom-popup {
    height: 200px;
    width: 200px;
    margin-left: 18px;;
}

.font-cupom-popup {
    font-size: 180%;
    text-align: left;
}

.font-cupom-popup-valor {
    font-size: 350%;
}

#ConteinerProdutos {
    padding-right: 0px !important;
}

/* @media screen and (max-width: 768px) { */
    h2 {
        position: absolute;
        top: -10px;
        left: -10px;
        width: 100%;
    }
    h2 span {
        font-size: 100%;
    }
    h2 span.spacer {
        padding: 0 0px;
    }
    #voltar:before {
        background-size: 15px;
        left: 30%;
        top: 0;
    }


    .size-product-coupon {
        width: 200px;
        height: 200px;
    }
    .width-produto-king {
        width: 60%;
    }
    .titulo-produto {
        font-size: 140% !important;
        line-height: 15px !important;
    }

    .titulo-modal-coupon {
        font-size: 195% !important;
        line-height: 1;
    }

    .t-confirm-coupon {
        font-size: 145% !important;
        line-height: 42px !important;
    }

    #page-ordered .titulo {
        font-size: 360%;
    }

    .text-line-height {
        line-height: 55px;
    }

    .titulo-modal{
        font-size: 311%;
        text-align: center;
    }

    .titulo-topo{
        padding-left: 7px;
    }

     .icon_voltar {
         width: 16px;
         /* margin-bottom: 20%;  */
    }

    .icon-voltar-text {
       font-size: 25px;
   }

    .rodape {
        font-size: 200%;
    }
    .rodape-preco {
        font-size: 300%;
        margin-bottom: 0;
        padding-top: 10px;
    }
    .resumo-pedido {
        min-height: 40px;
    }
    .preco-porcao {
        font-size: 9px;
    }
    .bg-produto p {
        margin-bottom: 10px !important;
    }
    .contador-text {
        font-size: 300%;
        line-height: 1.0;
    }
    .contador-numero {
        font-size: 1500%;
        line-height: 0.9;
    }
    .modal-content {
        width: 400px;
        height: 250px;
        margin: 0 auto;
        pointer-events: all;
    }
    .bg-modal .modal-body {
        padding-top: 0;
    }
    #myModal .modal-content {
        height: 275px;
    }
    .bg-fundo-menu-lateral {
        width: 177px;
        height: 190px;
        background-repeat: no-repeat;
        background-image: url('../../common/images/bg_defaut.png');
        background-size: 100%;
        float: left;
        margin-right: 0.5%;
    }
    .menu-lateral-item-desabled {
        background-image: url('../../common/images/bg_defaut.png');
        width: 177px;
        height: 190px;
        background-repeat: no-repeat;
        background-size: 100%;
        float: left;
        margin-right: 0.5%;
        filter: grayscale(100%);
        opacity: 0.4;
        pointer-events: none;
    }
    .fundo-destaque {
        background-image: url('../../common/images/bg_destaque_defaut.png');
    }

    .titulo-bebida {
        font-size: 137%;
        line-height: 0.7;
        font-family: 'fontebk' !important;
    }
    .bg-modal .preco-porcao {
        font-size: 8px;
    }
    /*MODAL PRODUTO SELEÇÃO*/
     .box-produto-modal {
         /* width: 180px;  */
         opacity: 0.3;
    }

    .modal-footer {
        border-top: none;
    }
    .modal-selecao {
        background-color: transparent !important;
        box-shadow: transparent;
        border: none;
    }

    .produto-modal-ativo {
        /* width: 100%; */
        opacity: 1;
    }
    .produto-modal-ativo .width-produto {
        /* width: 100%; */
    }
    /*RESUMO PEDIDO*/
    .bg-top-detalhe {
        width: 100%;
        height: 10px;
    }
    .bg-bottom-detalhe {
        width: 100%;
        height: 25px;
        margin-top: -20px;
    }

    .box-produto-rodape {
        padding: 0 10px 0 10px;
        min-height: 130px;
    }
    .box-produto-rodape p {
        margin: 0;
        padding: 0;
    }
    .div-btns-resumo {
        font-size: 280%;
        margin-bottom: 1%;
    }
    .btn-cancelar-pedido {
        width: 290px;
    }
    .btn-finalizar-pedido {
        width: 290px;
    }
    .titulo-produto-rodape {
        font-size: 80% !important;
        line-height: 25px;
    }
    .valor-produto-rodape {
        font-size: 190%;
        bottom: 0px;
        margin-bottom: 0;
    }
    .box-produto-rodape .preco-porcao {
        font-size: 60%;
    }
    .width-produto-mafioso {
        width: 55%;
    }
    .width-produto-churras {
        width: 64%;
    }
    .produto-combo {
        width: 240px;
        height: 221px;
        float: left;
        margin-right: 0;
    }
    .btn-cancelar-item {
        width: 293px;
        margin-left: 7%;
    }
    .btn-finalizar-item {
        width: 293px;
        margin-left: 0;
    }
    .font-contador-itens {
        margin-left: 2.0%;
        margin-top: -12%;
        font-size: 17px;
    }
    .font-shack {
        margin-left: 4.3%;
        margin-top: 0.45%;
        font-size: 17px;
    }
    .font-neg {
        margin-left: 1%;
        margin-top: 0.4%;
        font-size: 17px;
    }
    .btn-cupom {
        width: 207%;
        height: 100px;
        display: flex;
        justify-content: center; /* align horizontal */
        align-items: center; /* align vertical */
    }
    .div-btns-resumo-cupom {
        font-size: 293%;
    }
    .titulo-cupom {
        font-size: 294%;
    }
    .subtitulo-cupom {
        font-size: 246%;
        text-align: center;
        line-height: 1;
        padding-bottom: 1%;
        white-space: pre-line;

    }

    .btn-cupom-popup-text {
        font-size: 170%;
        padding-left: 0;
        margin-left: -3px;
    }

    .btn-cupom-text{
        font-size: 233%;
        color: #fff;
        margin-left: -17px;
        padding-top: 31px;
    }

    .btn-modal-itensExtras-text {
        font-size: 205%;
        padding-left: 0;
        /* margin-left: 23%; */
        margin-top: 5%;
    }

/* } */
.modal-title-pedido {
    font-size: 269% !important;
    margin-top: 4%;
 }

.font-produto {
    font-family: 'fontebk-DinBold';
    font-size: 17px;
}

.btn-modal-cancel-include {
    background-image: url(../../common/images/PERSONALIZE-O-SEU-SANDUICHE/btn-cancelar-personalizacao.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 140px;
    position: absolute;
    height: 51px;
    padding: 0;
}
.text-btn-cancel-modal-include {
    margin-left: -57%;
    padding-top: 1%;
}
.btn-cancelar-transacao-not
{
    width: 194px;
    background-image: url('../../common/images/not_cpf.png');
    background-repeat: no-repeat;
    background-size: 72%;
    margin-left: 0%;
    height: 135px;
    position: absolute;
    top: -34px;
    margin-left: 88px;
}

.btn-cancelar-transacao-yes
{
    width: 194px;
    /* background-image: url("../../src/common/images/not_cpf.png"); */
    background-image: url('../../common/images/yes_cpf.png');
    background-repeat: no-repeat;
    background-size: 72%;
    margin-left: 0%;
    height: 135px;
    position: absolute;
    top: -34px;
    margin-left: -6px;
}

.change-prod-button {
    width: 50%;
    float: left;
}